{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GC</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
 
</head>
<body>
    <nav>
        <div class="logo">
            <a href="/"><img src="{% static 'assets/gravcropped.png' %}" alt="Gravity Cult logo" class="main-logo"></a>
        </div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/index">Submit</a></li>
            <li><a href="/about">About GC</a></li>
            <li><a href="/map">Map of Portals</a></li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
    <div class="intro">You've found a Gravity Cult stone! These are magical portals for artists/writers from all around the world to post their work!</div>
    <!-- <button href ="/index">post something!</button> -->
    <!--test to see if this works-->
    <!-- lines below for google translate -->
    <!-- might separate out into seperate js file later -->

<!-- <div id="google_translate_element"></div>
<script type ="text/javascript" src="//translate.google.com/translate_a/element.js?
cb=googleTranslateElementInit"></script>
<script type ="text/javascript">
function googleTranslateElementInit() {
    new google.translate.TranslateElement({pageLanguage: 'en'},
    'google_translate_element');
}
</script> -->
    
    {% csrf_token %}
    {{ form.as_p }}
    {% for image in images %}
        <div id="container">
        <div class="textbox">
    
        <h1>{{ image.title }}</h1>
        <h2>{{ image.author }}</h2>
        <h3>{{ image.location }}</h3>

<!--changed 'body' to 'piccont' can probably move this max-height to style.css if I put a clas within this image tag-->
<div class="piccont">
    {% if image.image %}
    <!-- <img src='{{ image.image.url }}' style="max-height:200px;max-width:300px;"> -->
    <img src='{{ image.image.url }}' class='vidya'>
    {% endif %}
    
</div>
<!-- below allows videos to display -->
<!-- <div class='vidya'> {{ image.content | safe }}</div> -->
<div class='vidya'> {{ image.content | safe }}</div>



</div>
</div>
{% endfor %}
</body>
<script src="{% static 'script.js' %}"></script> 
</html>