{% extends "index.html" %}
{% block extrahead %}
<script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor';</script>
{% endblock %}

{% load static %}

<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>

<!-- just a guess -->
<!-- <script type ="text/javascript" src = "{% static 'ckeditor/ckeditor/config.js' %}"></script>
<script type ="text/javascript" src = "{% static 'ckeditor/ckeditor/lang/en.js' %}"></script> -->


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>upload imagae</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <!-- <link rel="stylesheet" href="{% static 'ckeditor/ckeditor/skins/moono-lisa/editor.css' %}">
  <link rel="stylesheet" href="{% static 'ckeditor/ckeditor/skins/moono-lisa/editor_gecko.css' %}"> -->
</head>






<body>
  <nav>
    <div class="logo">
      <a href="/"><img src="{% static 'assets/gravcropped.png' %}" alt="Gravity Cult logo" class="main-logo"></a>
    </div>
    <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/index">Submit</a></li>
        <li><a href="/about">About GC</a></li>
        <li><a href="/map">Map of Portals</a></li>
    </ul>
    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
</nav>

<div id='container'>
  
  <div class='textbox'>
    <h1>Submit Your Art!</h1>
    <h3>
      <br>Upload images of nature/life around your portal with "Choose File / Browse"
      <br>Type your poetry into the space below!
    </h3>
<!--<p><h4>pip install Pillow</h4></p>-->
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="sub-button">Submit</button>
</form>
</div>
</div>

{% if img_obj %}
  <h3>Succesfully uploaded : {{img_obj.title}}</h3>
  <img src="{{ img_obj.image.url}}" alt="connect" style="max-height:300px">
{% endif %}
</body>
<script src="{% static 'script.js' %}"></script> 
</html>